@model LAB4.Models.ViewModels.CourseDetailsViewModel
@{
    ViewBag.Title = "Course Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<table class="table">
    <tr><th>Number</th><td>@Model.Course.CourseID</td></tr>
    <tr><th>Title</th><td>@Model.Course.Title</td></tr>
    <tr><th>Credits</th><td>@Model.Course.Credits</td></tr>
    <tr><th>Department</th><td>@Model.Course.DepartmentID</td></tr>
</table>

<h3>Enrolled Students</h3>
@if (Model.Enrollments.Any())
{
    <table class="table table-bordered">
        <tr><th>Student</th><th>Grade</th></tr>
        @foreach (var e in Model.Enrollments)
        {
            var student = Model.Students.FirstOrDefault(s => s.ID == e.StudentID);
            <tr>
                <td>@student.LastName @student.FirstMidName</td>
                <td>@e.Grade</td>
            </tr>
        }
    </table>
}
else
{
    <p>No students enrolled in this course.</p>
}
<p>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })</p>
