@model lab2.net.Models.Student
@{ Layout = "~/Views/Shared/_Layout.cshtml"; ViewBag.Title = "Create Student"; }
<h2>Create</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal card">
        <div class="form-group">
            @Html.LabelFor(m => m.LastName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.FirstMidName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.FirstMidName, new { @class = "form-control" })</div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.EnrollmentDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">@Html.TextBoxFor(m => m.EnrollmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })</div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button class="btn btn-primary" type="submit">Create</button>
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}
