@model IEnumerable<lab2.net.Models.Student>
@{
    ViewBag.Title = "Students";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Students</h2>

<form method="get" class="form-inline" action="@Url.Action("Index")">
    <div class="form-group">
        <input type="text" name="search" value="@ViewBag.Search" class="form-control" placeholder="Search by name" />
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
</form>
<br />

<table class="table table-striped table-bordered">
    <tr>
        <th>Last name</th>
        <th>First/Middle</th>
        <th>Enrollment Date</th>
        <th style="width:220px"></th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>@s.LastName</td>
            <td>@s.FirstMidName</td>
            <td>@s.EnrollmentDate.ToString("yyyy-MM-dd")</td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = s.ID }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Edit", "Edit", new { id = s.ID }, new { @class = "btn btn-warning btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = s.ID }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }
</table>
