@model LAB2.Models.Student
@{
    ViewBag.Title = "Edit Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Student</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    @Html.AntiForgeryToken()
    <div>
        @Html.LabelFor(m => m.LastName)
        @Html.TextBoxFor(m => m.LastName)
        @Html.ValidationMessageFor(m => m.LastName)
    </div>

    <div>
        @Html.LabelFor(m => m.FirstMidName)
        @Html.TextBoxFor(m => m.FirstMidName)
        @Html.ValidationMessageFor(m => m.FirstMidName)
    </div>

    <div>
        @Html.LabelFor(m => m.EnrollmentDate)
        @Html.TextBoxFor(m => m.EnrollmentDate, "{0:yyyy-MM-dd}", new { type = "date" })
        @Html.ValidationMessageFor(m => m.EnrollmentDate)
    </div>

    <button type="submit">Update</button>
    @Html.ActionLink("Back to List", "Index")
}

